* {
    font-family: cursive;
    margin: 0px;
    padding: 0px;


}

body {
    height: 100vh;
    background: linear-gradient(to right, rgb(100, 217, 225), rgb(14, 232, 174));
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {

    background-color: white;
    /* jitna content hai utna hi background lena ho to */
    width: fit-content;
    padding: 50px;
    box-shadow:6px 8px  rgba(29, 25, 30, 0.608);

}

input {

    padding: 10px;
    border-radius: 5px;

}

h1 {
    font-size: 40px;
    color: rgba(163, 28, 8, 0.97);

}

input[type="button"]:hover {
    background-color: rgb(231, 95, 156);
    font-size: 25px;
}

input[type="button"]{
    background-color: midnightblue;
    color: white;
    font-size: 25px;
}

label{

color: blue;
font-size: 25px;
font-weight: bold;

}
